#header {
  text-align: center;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.error-message {
  color: red;
  font-style: italic;
}

.glyphicon {
  font-size: 40px;
  margin: 1vh;
}

#artistly-header {
  margin: 2vh;
}

.artist-name {
  padding: 0px;
}

@media (max-width: 544px) {
  .container-fluid {
    display: flex;
    justify-content: center;
  }
  #artistly-header {
    margin-left: 0vh;
  }

  .glyphicon {
    margin-right: 0vh;
  }
}